<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <h1>Welcome your Dashboard, {{username}}!</h1>
    </header>
    <main>
        <section class="dashboard-posts">
            <h2>Your Posts</h2>
            {{#if userPosts.length}}
                {{#each userPosts}}
                    <article>
                        <h3>{{this.title}}</h3>
                        <p>{{this.content}}</p>
                        <p><small>Created on: {{formatDate this.date_created}}</small></p>
                        {{#each this.comments}}
                            <div>
                                <p>{{this.username}} said: {{this.content}}</p>
                                <p>Commented on: {{formatDate this.date_created}}</p>
                            </div>
                        {{/each}}
                        <form action="/dashboard/edit/{{this.id}}" method="GET" style="display:inline;">
                            <button type="submit" class="btn edit-btn">Edit</button>
                        </form>
                        <form action="/dashboard/delete/{{this.id}}" method="POST" style="display:inline;">
                            <button type="submit" class="btn delete-btn">Delete</button>
                        </form>
                    </article>
                {{/each}}
            {{else}}
                <p>You have no blog posts.</p>
            {{/if}}
        </section>
        <section class="new-post-form">
            <button id="show-post-form">Create a New Blog Post</button>
            <form id="new-post-form" action="/dashboard/new" method="POST" style="display: none;">
                <div>
                    <label for="title">Title:</label>
                    <input type="text" name="title" placeholder="Post Title" required>
                </div>
                <div>
                    <label for="content">Content:</label>
                    <textarea name="content" placeholder="Add text here" required></textarea>
                </div>
                <button type="submit">Add Post</button>
            </form>
        </section>
    </main>
    <script src="/js/dashboard.js"></script>
</body>
</html>
