<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.title}}</title>
</head>
<body>
    <header>
        <h1>{{post.title}}</h1>
    </header>
    <main>
        <div>
            <p>{{post.contents}}</p>
        </div>
        <div>
            <p>Created by: {{post.user.username}}</p>
            <p>Date Created: {{formatDate post.date_created}}</p>
        </div>
        <div>
            <p>{{post.contents}}</p>
        </div>
        <div>
            <h3>Comments:</h3>
            {{#each post.comments}}
                <div>
                    <p>{{this.content}}</p>
                    <p>By: {{this.user.username}}</p>
                    <p>
                        <small>Date Created: {{formatDate this.date_created}}</small>
                    </p>
                </div>
            {{/each}}
        </div>
        {{#if loggedIn}}
            <form action="/comments" method="POST">
                <input type="hidden" name="postId" value="{{post.id}}">
                <textarea name="content" placeholder="Leave a comment" required></textarea>
                <button type="submit">Submit</button>
            </form>
        {{else}}
            <p><a href="/login">Log in</a> to leave a comment.</p>
        {{/if}}
    </main>
</body>
</html>